<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Razonamiento hacia atrás y adelante</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="margin: 10px">
<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="text-align: center">Reglas</h5>
        <div class="form-floating">
            <textarea name="ruleBox" id="ruleBox" class="form-control" style="height:15em; width: 15em; margin: 0 auto;"
                      readonly>{{ ruleset }}</textarea>
        </div>
    </div>
</div>
<div class="row" style="margin:50px;">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Razonamiento hacia delante</h5>
                <button id="forwardReasoning" type="button" class="btn btn-primary card-text">Iniciar el proceso</button>
                <div class="form-floating">
                    <textarea id="outputBox" class="form-control" style="height: 15em" readonly></textarea>
                    <label for="outputBox">Reglas seguidas</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Razonamiento hacia atrás</h5>
                <button id="backwardReasoning" type="button" class="btn btn-primary card-text">Iniciar el proceso</button>
                <div class="form-floating">
                    <textarea id="outputBox1" class="form-control" style="height: 15em" readonly></textarea>
                    <label for="outputBox1">Reglas seguidas</label>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script>
    document.getElementById("forwardReasoning").addEventListener("click", function() {
      fetch('/run_forward_reasoning', { method: 'POST' })
          .then(response => response.json())
          .then(data => {
            document.getElementById("outputBox").textContent = data.message;
          })
    });
document.getElementById("backwardReasoning").addEventListener("click", function() {
      fetch('/run_backward_reasoning', { method: 'POST' })
          .then(response => response.json())
          .then(data => {
            document.getElementById("outputBox1").textContent = data.message;
          })
    });
</script>
</body>
</html>